.navbar-toggler {
    display: flex;
}

.a-body-button {
    font-family: var(--sans-serif);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #000;

}





/* [KELLY'S COMMENT] you can remove these, i think these are older code */
/* .arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left {
    display: block;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 6px solid #000;
    border-left: 6px solid #000;
}

.arrow-right,
.long-arrow-right {
    transform: rotate(135deg);
}

.arrow-left,
.long-arrow-left {
    transform: rotate(-45deg);
}

.long-arrow-right::after,
.long-arrow-left::after {
    content: "";
    display: block;
    width: 6px;
    height: 45px;
    background-color: black;
    transform: rotate(-45deg) translate(15px, 4px);
    left: 0;
    top: 0;
} */

/*
.scroll-watcher{
    height: 10px;
    position:fixed;
    top: 0;
    z-index:1000;
    background-color: aqua;
    width: 100%;
    scale: 0 1;
    transform-origin: scroll();

    animation:scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher{
    to {scale: 1 1;}
}
*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    background-color: #000;
    top: 0;
    z-index: 2;



}

.navbar-brand {
    color: whitesmoke;
    padding-left: 36px;
}


.navbar-toggler {
    font-size: 16px;
    text-decoration: none;

}

div {
    display: block;
    unicode-bidi: isolate;

}

*/ .c-project_holder {
    display: flex;
    Flex-direction: row;


}

/* [KELLY'S COMMENT 4/4] because your main content and the sidenav both utilize the sidenav class, it's shrinking your main content to be 18vw in width (see comment right below this one) */
/* .sidenav{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 18vw;
    height: 100%;
    position: sticky;
    z-index: 8;
    top:52px;
    left:10px;
    background:#eee;
    overflow-x: hidden;
    padding: var(64px) var(16px);
} */

/* [KELLY'S COMMENT 4/4] to only target the side navigation, you use target the sidenavigation ID */
#sidenavigation {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    width: 18vw;
    height: 100%;
    /* [KELLY'S COMMENT] instead of sticky, i think fixed is more aligned with what you want! */
    /* position: sticky; */
    position: fixed;
    z-index: 8;
    /* [KELLY'S COMMENT] you can remove the top and left properties, i don't think you need these  */
    /* top:52px;
    left:10px; */
    background: #eee;
    overflow-x: hidden;
    /* padding: var(64px) var(16px); */
    /* [KELLY'S COMMENT] i would rewrite the above as... */
    padding: 32px 16px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #2d2d2d;
}

.sidenav a:hover {
    color: #ee2a61;
}

/* [KELLY'S COMMENT] media queries are loaded in last, move this to the end of your code */
/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */


/* [KELLY'S COMMENT] you can remove this code below */
/* .table-list{
    padding-left: 18px;

} */

.c-header-h5 {
    color: grey;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    padding-left: 8px;
    /* [KELLY'S COMMENT] you can remove the margin-top from the .c-header-h5 since the padding from the sidenavigation has been added */
    /* margin-top: 64px; */
}

.c-divider {
    height: var(--thickness);
    border-bottom: var (--thickness) solid black;
    flex: 0 auto;


}

.c-align.is--horizontal-center {
    display: flex;
    align-items: center;
    flex: 1;
}

/* [KELLY'S COMMENT] you have this selector written twice in your CSS (once here and once on Line 5) - consolidate */
.a-body-button {
    background-color: rgb(64, 62, 62);
    color: whitesmoke;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
    justify-content: space-between;
    margin-right: 1;

}

.next-arrow {
    margin-right: 36px;
    display: inline-block;

    /* [KELLY'S COMMENT] added the following to turn the black arrows, white against your navbar and then resized them */
    filter: invert(1);
    width: 25px;
}

.slideout_link.secondary {
    background-color: black;
    color: whitesmoke;
}




/*
.list-group-item list-group-item-action{
    display: grid;
    gap: 10px;
    background-color: grey;
    align-items: center;
}
*/

.scrim.is--hidden {
    display: none;

}

.scrim {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;

}

.c-container_holder {
    display: flex;
    width: 100%;

    /* [KELLY'S COMMENT] adding the following code so that horizontal scrolling will be hidden */
    overflow: hidden;
}

.c-container {
    display: flex;
    flex-direction: column;

}

/* project body */
.c-container.is--project {
    width: 100%;

    /* [KELLY'S COMMENT] adding the following code to shift it to the right so that the side navigation doesn't overlap the content! */
    /* why 20vw? because the side navigation is currently taking up 18vw so at a minimum, the body content must be pushed to the left 18vw. the extra 2vw is so that the content isn't pushed up against the right border of the side navigation */
    margin-left: 20vw;
}

.c-main_body.is--project {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

.c-wrapper {
    width: 100%;
    flex-direction: column;
    display: flex;
}

.c-flex_vertical.is--m_spacing {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex: 1;

}

/* .c-scroll_offset{
    margin-top: -52px;
    padding-top: 64px;
} */

.c-margin {
    align-self: center;
}

.c-margin.is--92_top_bottom.is--project {
    width: 60%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
}

.c-image-holder {
    display: flex;
    align-self: stretch;
}

.c-image-holder.is--project-hero {
    width: 45%;
    align-items: center;
}

.c-image_frame {
    padding: 16px;
    border: .75px thickness solid black;
    background-color: whitesmoke;
    box-shadow: 6px 6px 0 0 grey;
    flex: none;
}

/* [KELLY'S COMMENT] are you trying to target the image tags? if yes, the selector should match the name of the tag (refer to img selector below) */
/* image{
    width: 100%;
} */

img {
    width: 100%;
}

.card {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    align-content: center;
    padding: 10px;

    /* [KELLY'S COMMENT] i removed the style attribute from the HTML and instead added it here - this aligns better with best practice and also makes it easier so that you don't have to write duplicate code every time you create an element with the class of card */
    width: 18rem;
}

/* [KELLY'S COMMENT] i don't think you need this */
/* 
.body{
    position: relative;
    min-height: 100%;

} */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}